/* 
Main styles */
* {
    background-color: #dfd2c3;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, Arial, Helvetica;
    min-height: 100vh;
    margin: 0;
}

/* Header */
header {
    background-color: #dfd2c3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Main Background Picture*/
#keys {
    display: block;
    width: 100%;
    height: 100vh;
}

/* Logo Styles*/
.logo {
    width: 100px;
    height: 100px;
    padding:5px;
    box-sizing: border-box;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

#tagline {
    padding:5px;
    color: #898974;
}

/* Button Container Styles*/
.button-container {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.button-container a {
    display:block;
    padding: 5px;
    border: 5px ridge #898974;
    margin: 10px;
    font-size: 20px;
    background-color: #fff5ea;
    color: #898974;
    }

    /* Main Content*/

main {
    background-color: #dfd2c3;

}
article h1 {
    text-align: center;
    color: #898974;
    font-size:xx-large;
}
article section h2 {
    text-align: center;
    color: #898974;
    font-size: x-large;
}

article section p {
    text-align: center;
    color: #898974;
    font-size: large;
}

aside p {
    color: #ddc41c;

} 
/* Form Styles
.form-contact {
    display:flex;
    min-width: 100%;
}

#contact-img {}
        */

/*
footer {
    background-color: #898974;
    display: flex;}
*/