/* 
Main styles */
* {
    margin: 0;
}
main {
    padding: 5px;
}
.background-color {
    background-color: #ffeeda;
}

.heading1 {
    color: #575021;
    font-size: xx-large;
    padding: 10px;
    text-align: center;
}
.heading2 {
    color: #575021;
    font-size: x-large;
    padding: 7px;
}
.heading3 {
    color: #575021;
    font-size: large;
    padding: 4px;
    text-align: left;
}
.text-center {
    text-align: center;
    color: #43432c;
    padding: 10px;
}
.list-text {
    color: #43432c;
}
body {
    font-family: sans-serif, Arial, Helvetica;
    min-height: 100vh;
    margin: 0;
    display: block;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Main Content*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Main Background Picture*/
.keys {
    display: block;
    width: 100%;
    height: auto;
}

/* Logo Styles*/
.logo {
    width: 100px;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

#tagline {
    padding: 5px;
    text-align: left;
    color: #43432c;
}

/* Button Container Styles*/
.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button-container a {
    display: block;
    padding: 5px;
    border: 5px ridge #43432c;
    margin: 10px;
    font-size: 20px;
    background-color: #ffeeda;
    color: #43432c;
}

video {
    width: 100%
}
.form-container {
    display: flex;
    flex-direction: column;
    
}

/* Hidden*/
.hidden {
    display: none;
}

/* Footer */
footer {
    background-color: #43432c;
    padding: 20px;
    display: flex;
    text-align: left;
}

footer div {
    background-color: #43432c;
    height: 100%;
    width: 100%;
    padding: 20px;
    color: #ddc41c;
}

footer div a {
    color: #ddc41c;
    background-color: #43432c;
}

/* Media Queries */

@media screen and (min-width: 1000px) {

    .home-pic {
        width: 900px;    
    }

    #contact-img img {
        width: 800px;
    }

    .hammer {
        display: flex;
        justify-content: center;
    }
    .hammer > img {
        width: 1000px;
    }
}


